/* General Styles */
.container {
  padding: 40px;
  background-color: #f3f3f3;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5rem;
  color: #333;  /* Noire pour le titre */
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2rem;
  color: #555;  /* Gris foncé pour le texte */
  max-width: 800px;
  margin: 0 auto;
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scrollButton {
  background-color: #333;  /* Boutons noirs */
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scrollButton:hover {
  background-color: #555;  /* Un gris plus clair au survol */
}

.slider {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 280px;
  transition: transform 0.3s, box-shadow 0.3s;
  scroll-snap-align: start;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.photos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.photo {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s;
}

.photo:hover {
  transform: scale(1.1);
}

.name {
  font-size: 1.5rem;
  color: #333;  /* Texte noir pour le nom */
  margin-top: 10px;
}

.reputation {
  color: #777;  /* Gris pour la réputation */
  font-style: italic;
  margin-top: 5px;
}

.details {
  margin-top: 15px;
}

.stats {
  font-size: 1rem;
  color: #555;  /* Gris foncé pour les stats */
  margin-bottom: 10px;
}

.atoutsList {
  list-style: none;
  padding: 0;
}

.atoutItem {
  font-size: 1rem;
  color: #333;  /* Gris foncé pour les atouts */
}

.footer {
  text-align: center;
  margin-top: 40px;
  font-size: 1rem;
  color: #777;  /* Gris pour le footer */
}
